body{
	font-family:calibri;
}
#main{
	width:700px;
	margin: 0 auto;
}
#leftSide{
	width: 200px;
	float:left;
}
#lsTitle{
	font-size:25pt;
}
#lsPic{
	width:175px;
	height:200px;
	border:solid 1px black;
}
.aLink{
	font-size:15pt;
	display:block;
	text-decoration:none;
	color:grey;
}
#content{
	float:left;
	width:468px;
	border:solid 1px black;
	height:570px;
	padding:10px;
}